body {
  background: -moz-radial-gradient(#f0f0f0, #bebebe);
  background: -webkit-radial-gradient(#f0f0f0, #bebebe);
  background-color: #B0E0E6;
}

code {
  background:  	#B0E0E6;/*#ebebeb*/
}

div.slides, body.expose div.slides.nocontext {
  background-color: inherit;
}

div.slide {
  background: #FFF9CE;/*#e5fbff*/
}

.slide.first {
  /*background-image: url('b4.jpg');*/
  background: #FFF9CE;
}

